[submodule "estafet-fis-sales-aggregator-restful-producer"]
	path = estafet-fis-sales-aggregator-restful-producer
	url = https://github.com/Estafet-LTD/estafet-fis-sales-aggregator-restful-producer.git
[submodule "estafet-fis-sales-aggregator-ui"]
	path = estafet-fis-sales-aggregator-ui
	url = https://github.com/Estafet-LTD/estafet-fis-sales-aggregator-ui.git
[submodule "estafet-fis-sales-aggregator-xml-producer"]
	path = estafet-fis-sales-aggregator-xml-producer
	url = https://github.com/Estafet-LTD/estafet-fis-sales-aggregator-xml-producer.git
